@import '@components/styles/vars';
@import '@components/styles/utilities/mixins';

.textarea {
  width: 100%;
  resize: vertical;
  border-width: 1px;
  padding: 13px 16px;
  border-style: solid;
  border-color: $color-gray2;
  border-radius: $borderRadius;
  background-color: $color-white;
  @include placeholder($color-gray1);
  &:focus {
    border-color: $color-blue;
  }
  &:disabled {
    color: $color-gray1;
    border-color: $color-gray1;
    background-color: $color-gray3;
  }
}
