$color-gray1: #cccccc;
$color-gray2: #dddddd;
$color-gray3: #eeeeee;
$color-red: #E87169;
$color-blue: #2E5590;
$color-navy: #293242;
$color-pink: #FBE8E7;
$color-white: #FFFFFF;
$color-black: #000000;
$color-green: #58D398;
$color-skyblue: #44B0FF;
$color-midnight: #131B2C;

$borderRadius: 4px;

$mobileContainer: calc(100% - 40px);
$desktopContainer: 420px;

$mobile-max: 767px;
$tablet-min: 768px;
$tablet-max: 1199px;
$computer-min: 1200px;

@media (max-width: $mobile-max) {
}
@media (min-width: $tablet-min) and (max-width: $tablet-max) {
}
@media (min-width: $computer-min) {
}

@media (max-width: $mobile-max) {
}
@media (min-width: $tablet-min) {
}
